form{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .gender{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    div:not(.gender){
        display: flex;
        flex-direction: column;

        input:not(.gender input){
            height: 30px;
            width: 70%;
        }
        select{
            height: 30px;
            width: 70%;
        }
    }

}