<form class="form-group" [formGroup]="TDEEForm" (ngSubmit)="onSubmit()">

    <div class="gender">
        <div>
            <label for="Woman">Woman</label>
            <input type="radio" name="Gender" value="woman" formControlName="Gender">
        </div>
        <div>
            <label for="Man">Man</label>
            <input type="radio" name="Gender" value="man" formControlName="Gender">
        </div>
    </div>

    <input class="form-control" type="text" formControlName="Age" required placeholder="Age">

    <input class="form-control" type="text" formControlName="Weight" required placeholder="Weight (kg)">

    <input class="form-control" type="text" formControlName="Height" required placeholder="Height (cm)">

    <select formControlName="Activity">
        <option [ngValue]="null" disabled>Choose your level of physical activity</option>
        <option *ngFor="let act of allActivities" [ngValue]="act.Id">
            {{ act.Name }}</option>
    </select>

    <button type="submit" [disabled]="!TDEEForm.valid">Submit</button>

</form>

