/* Definitions */
.definition{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;

    .inter{
        width: 30%;
        border: 1px solid black;
    }

    .container{
        width: 90%;
        display: flex;
        align-items: center;
        height: 35vh;

        h3{
            width: 60%;
            font-family: 'Poppins', sans-serif;
            font-size: 5.5vw;
            text-align: center;
            text-transform: uppercase;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-attachment: fixed;
        }

        p{
            width: 40%;
            font-size: 1.5em;
        }

    }
    
    .carbohydrates h3{
        background-image: url(../../assets/oats.jpg);
    }
    .fats h3{
        background-image: url(../../assets/Avocad0-CD.jpg);
    }
    .proteins h3{
        background-image: url(../../assets/chicken.jpg);
    }
    
}

/* Reveal */
.revealRight{
    transform: translateX(10vw);
    opacity: 0;
    transition: transform 1s cubic-bezier(0, 0, 0, 1), opacity 1s;
    will-change: transform, opacity;
}
.revealLeft{
    transform: translateX(-10vw);
    opacity: 0;
    transition: transform 1s cubic-bezier(0, 0, 0, 1), opacity 1s;
    will-change: transform, opacity;
}

.revealRight.revealed{
    transform: translateX(0vh);
    opacity: 1;
}
.revealLeft.revealed{
    transform: translateX(0vh);
    opacity: 1;
}