<section class="definition">

    <div class="container carbohydrates revealLeft">
        <h3>Carbohydrates</h3>
        <p>These are a major source of energy for our bodies and are stored in our muscles and liver for later use.
            Foods
            that
            contain large amounts of carbohydrates include fruits, grains (rice, oats, barley, etc) and roots (potatoes,
            yams,
            carrots, etc).</p>
    </div>

    <div class="inter"></div>

    <div class="container proteins revealRight">
        <p>Our bodies use proteins to grow tissue and muscle, repair organs and to create hormones and enzymes; proteins
            are
            also
            used for energy when carbohydrates are unavailable. Foods that contain high levels of protein include
            poultry,
            fish,
            beans, diary, nuts and legumes.</p>
        <h3>Proteins</h3>
    </div>

    <div class="inter"></div>

    <div class="container fats revealLeft">
        <h3>Fats</h3>
        <p>In order to absorb vitamins, our bodies need fats. Foods that contain a high percentage of fat include
            cooking
            oils,
            butter, nuts and cheese. Of the three macronutrients, fats contain the highest number of calories per gram.
        </p>
    </div>

</section>