<!-- Hero -->
<header>

  <div class="text">

    <h1>Your macronutrients needs</h1>
    <p>Macronutrients are the nutrients that provide us with the energy (measured in calories) needed by our bodies for
      growth,
      metabolism and other functions. The prefix “macro” means large; macronutrients are needed in large quantities in
      contrast to micronutrients (vitamins and minerals). <br><br>

      <span>Carbohydrates</span>, <span>proteins</span> and <span>fats</span> make up the group of macronutrients. Let
      us take a moment to briefly look at each of
      these macronutrients.</p>

  </div>

  <div class="img"></div>

</header>

<!-- main -->
<main>

  <!-- definition and reveal -->
  <section class="definition">
  
    <div class="defContainer carbohydrates revealLeft">
      <h3>Carbohydrates</h3>
      <p>These are a major source of energy for our bodies and are stored in our muscles and liver for later use.
        Foods
        that
        contain large amounts of carbohydrates include fruits, grains (rice, oats, barley, etc) and roots (potatoes,
        yams,
        carrots, etc).</p>
    </div>
  
    <div class="inter"></div>
  
    <div class="defContainer proteins revealRight">
      <p>Our bodies use proteins to grow tissue and muscle, repair organs and to create hormones and enzymes; proteins
        are
        also
        used for energy when carbohydrates are unavailable. Foods that contain high levels of protein include
        poultry,
        fish,
        beans, diary, nuts and legumes.</p>
      <h3>Proteins</h3>
    </div>
  
    <div class="inter"></div>
  
    <div class="defContainer fats revealLeft">
      <h3>Fats</h3>
      <p>In order to absorb vitamins, our bodies need fats. Foods that contain a high percentage of fat include
        cooking
        oils,
        butter, nuts and cheese. Of the three macronutrients, fats contain the highest number of calories per gram.
      </p>
    </div>
  
    <div class="inter"></div>
  
  </section>
  
  <section class="tdee">
  
    <h1>Now, let's see what you need</h1>
  
    <div class="tdeeContainer">
      <p>Determining your caloric budget–the number of calories you can consume–positions you to be more successful with
        your
        fitness goals; knowing your caloric needs empowers you with the knowledge to employ a more practical and
        sustainable
        strategy to achieving your fitness goals.</p>
      <app-tdee></app-tdee>
    </div>
  
  </section>
  

</main>

<div class="container">
  <router-outlet></router-outlet>
</div>