<!-- Hero -->
<header>

  <div class="text">

    <h1>Your macronutrients needs</h1>
    <p>Macronutrients are the nutrients that provide us with the energy (measured in calories) needed by our bodies for
      growth,
      metabolism and other functions. The prefix “macro” means large; macronutrients are needed in large quantities in
      contrast to micronutrients (vitamins and minerals). <br><br>

      <span>Carbohydrates</span>, <span>proteins</span> and <span>fats</span> make up the group of macronutrients. Let
      us take a moment to briefly look at each of
      these macronutrients.</p>

  </div>

  <div class="img"></div>

</header>

<!-- main -->
<main>

  <!-- definition and reveal -->
  <section class="definition">

    <div class="defContainer carbohydrates revealLeft">
      <h3>Carbohydrates</h3>
      <p>These are a major source of energy for our bodies and are stored in our muscles and liver for later use. Foods
        that contain large amounts of carbohydrates include fruits, grains (rice, oats, barley, etc) and roots
        (potatoes, yams, carrots, etc). <br> 1 gram of carbohydrate = 4 Calories</p>
    </div>

    <div class="inter"></div>

    <div class="defContainer proteins revealRight">
      <p>Our bodies use proteins to grow tissue and muscle, repair organs and to create hormones and enzymes; proteins
        are also used for energy when carbohydrates are unavailable. Foods that contain high levels of protein include
        poultry, fish, beans, diary, nuts and legumes. <br> 1 gram of protein = 4 Calories</p>
      <h3>Proteins</h3>
    </div>

    <div class="inter"></div>

    <div class="defContainer fats revealLeft">
      <h3>Fats</h3>
      <p>In order to absorb vitamins, our bodies need fats. Foods that contain a high percentage of fat include
        cooking oils, butter, nuts and cheese. Of the three macronutrients, fats contain the highest number of calories
        per gram. <br> 1 gram of fat = 9 Calories</p>
    </div>

    <div class="inter"></div>

  </section>

  <section class="tdee reveal">

    <h1>Now, let's see what you need</h1>

    <div class="tdeeContainer">

      <div>

        <h2>First, we need to determine your <span>TDEE</span> <br>(<span>T</span>otal <span>D</span>aily
          <span>E</span>nergy <span>E</span>xpenditure)</h2>

        <p>Your total daily energy expenditure is an estimation of how many calories you burn per day when exercise is
          taken into account. <br><br> Determining your caloric budget (the number of calories you can consume)
          positions you to be more successful
          with your fitness goals; knowing your caloric needs empowers you with the knowledge to employ a more practical
          and sustainable strategy to achieving your fitness goals.</p>

        <p>This calculation uses the <a target="blank"
            href="https://sympa-sympa.com/creation-bien-etre/une-formule-simple-calcule-combien-de-calories-par-jour-tu-devrais-consommer-pour-perdre-du-poids-307360/">
            <span>Mifflin-St Jeor</span></a> formula, which is the most used method to calculate TDEE.</p>

      </div>

      <div>
        <app-tdee (change)="caloriesNeed($event)"></app-tdee>

        <p class="result" *ngIf="calories > 0">You approximately need <span>{{ calories }} calories/day.</span></p>
      </div>

    </div>

  </section>

  <section class="tdeeDetails reveal">

    <h2>Then, what is your <span>goal</span> ?</h2>

    <p><span>Maintaining</span> your current body weight, will require roughly the TDEE you calculated above. To
      <span>gain</span> weight, you should exceed your TDEE and to <span>lose</span> weight you should create a caloric
      deficit by consuming less than your TDEE. You can also create a caloric deficit by increasing your physical
      activity. Please keep in mind that too large of a caloric deficit can lead to health issues or even compromise
      your weight-loss.
    </p>

    <div class="goalChoice" *ngIf="calories > 0">

      <div>
        <button class="loseGain" value="lose" (click)="loseOrGain($event)">Lose (-20%)</button>
        <button class="loseGain activeButton" value="maintain" (click)="loseOrGain($event)">Maintain</button>
        <button class="loseGain" value="gain" (click)="loseOrGain($event)">Gain (+20%)</button>
      </div>

      <p><span>{{ goal }}</span> calories/day</p>

    </div>


  </section>

  <section class="macros reveal">

    <div class="macroProgress">

      <div class="progressBack" fxLayout="row">
        <div class="bar carbsBar" fxFlex="{{carbsRatio}}" [attr.carbsP]="carbsRatio"></div>
        <div class="bar protsBar" fxFlex="{{protsRatio}}" [attr.protsP]="protsRatio"></div>
        <div class="bar fatsBar" fxFlex="{{fatsRatio}}" [attr.fatsP]="fatsRatio"></div>
      </div>

      <div style="width: 90%" *ngIf="carbsRatio > 0">

        <p><strong>Carbohydrates:</strong> you need to consume <span>{{(goal * (carbsRatio / 100)).toFixed(1)}}</span>
          calories from carbohydrates everyday, which is <span>{{((goal * (carbsRatio / 100)) / 4).toFixed(1)}}g</span>.
        </p>

        <p><strong>Proteins:</strong> you need to consume <span>{{(goal * (protsRatio / 100)).toFixed(1)}}</span>
          calories from proteins everyday, which is <span>{{((goal * (protsRatio / 100)) / 4).toFixed(1)}}g</span>.
        </p>

        <p><strong>Fats:</strong> you need to consume <span>{{(goal * (fatsRatio / 100)).toFixed(1)}}</span>
          calories from fats everyday, which is <span>{{((goal * (fatsRatio / 100)) / 9).toFixed(1)}}g</span>.
        </p>
        <br>
        <p>Here is a broad range for each of the macronutrients, with your goal took in consideration.</p>

      </div>

    </div>

    <div class="macroDetails">

      <h2>And now, the tricky part, the <span>macronutrients</span></h2>

      <p>Even though tracking calories is easy (requiring you to manage just one number), some people choose to track
        macros instead. For example, a person might manage a medical condition by watching their macro intake. Tracking
        macronutrients is more complex because you need to set goals for three intake numbers
        instead of just one. For people trying to reach fitness goals or lose weight, find these numbers can be helpful.
      </p>

      <p>It is important to include each macronutrient in your daily diet, unless your healthcare provider has advised
        you otherwise. This will be easier if you build each meal around a combination of protein, carbs, and healthy
        fats. That said, finding the exact balance of macros that's right for you can be tricky. <br>
      </p>

      <p>The large range of percentages recommended for each macronutrient leaves room for experimentation. Everyone's
        body functions differently when various ratios are consumed.
      </p>

    </div>

  </section>

</main>

<footer>
  <h1>Warning</h1>

  <div>
    <p>This site has not been written by professionnals, only by a junior web developer to train Angular.
      I inquired informations and operations on different nutrition sites, so if you need a very <strong>broad</strong>
      range and knowledge about macronutrients,
      this site is still relevant. <br> <span>But not if you need real advices about nutrition and weight management !</span>
    </p>
    <p>
      Websites i refered to: <br>
      <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2853497/">ISSN exercise & sport nutrition review</a><br>
      <a href="https://www.verywellfit.com/macronutrients-2242006">verywellfit.com</a><br>
      <a href="https://mealpreponfleek.com/macro-calculator/">mealpreponfleek.com</a><br>
      <a href="https://www.acefitness.org/education-and-resources/professional/expert-articles/5904/how-to-determine-the-best-macronutrient-ratio-for-your-goals/">
        Acefitness.org
      </a>
    </p>
  </div>

</footer>

<div class="container">
  <router-outlet></router-outlet>
</div>