<header>
  <div class="text">
    <h1>Your macronutrients needs</h1>
    <p>Macronutrients are the nutrients that provide us with the energy (measured in calories) needed by our bodies for
      growth,
      metabolism and other functions. The prefix “macro” means large; macronutrients are needed in large quantities in
      contrast to micronutrients (vitamins and minerals). <br><br>

      <span>Proteins</span>, <span>fats</span> and <span>carbohydrates</span> make up the group of macronutrients. Let
      us take a moment to briefly look at each of
      these macronutrients.</p>
  </div>
  <div class="img"></div>
</header>

<main>

  <div class="container carbohydrates">
    <h3>Carbohydrates</h3>
    <p>These are a major source of energy for our bodies and are stored in our muscles and liver for later use. Foods
      that
      contain large amounts of carbohydrates include fruits, grains (rice, oats, barley, etc) and roots (potatoes, yams,
      carrots, etc).</p>
  </div>

  <div class="inter"></div>

  <div class="container proteins">
    <p>Our bodies use proteins to grow tissue and muscle, repair organs and to create hormones and enzymes; proteins are also
    used for energy when carbohydrates are unavailable. Foods that contain high levels of protein include poultry, fish,
    beans, diary, nuts and legumes.</p>
    <h3>Proteins</h3>
  </div>

  <div class="inter"></div>

  <div class="container fats">
    <h3>Fats</h3>
    <p>In order to absorb vitamins, our bodies need fats. Foods that contain a high percentage of fat include cooking oils,
    butter, nuts and cheese. Of the three macronutrients, fats contain the highest number of calories per gram.</p>
  </div>

</main>

<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br><br><br><br><br>

<div class="container">
  <router-outlet></router-outlet>
</div>