/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

$primary: rgb(111, 0, 255);

span{
    color: $primary;
}

/* hero - part 1 */
header {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: white;

    .text{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        h1{
            font-family: 'Poppins', sans-serif;
            font-size: 4vw;
            color: $primary;
            text-align: center;
            text-transform: uppercase;
        }
        p{
            font-size: 1.5em;
            text-align: center;
            line-height: 30px;
            padding: 0 40px;

            span{
                font-weight: bold;
                font-size: 110%;
            }
        }
    }

    .img{
        width: 60%;
        background-image: url(../assets/1_4gHPPFAucl34zlkY3oDyZg.jpeg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

}


/* Definitions - part 2 */
.definition{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;

    .inter{
        width: 30%;
        border: 1px solid black;
    }

    .defContainer{
        width: 90%;
        display: flex;
        align-items: center;
        height: 35vh;

        h3{
            width: 60%;
            font-family: 'Poppins', sans-serif;
            font-size: 5.5vw;
            text-align: center;
            text-transform: uppercase;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-attachment: fixed;
            background-repeat: no-repeat;
        }

        p{
            width: 40%;
            font-size: 1.5em;
        }

    }
    
    .carbohydrates h3{
        background-image: url(../assets/oats.jpg);
    }
    .fats h3{
        background-image: url(../assets/Avocad0-CD.jpg);
    }
    .proteins h3{
        background-image: url(../assets/baked-chicken-breast-3.jpg);
    }
    
}

/* Reveal */
.revealRight{
    transform: translateX(10vw);
    opacity: 0;
    transition: transform 1s cubic-bezier(0, 0, 0, 1), opacity 1s;
    will-change: transform, opacity;
}
.revealLeft{
    transform: translateX(-10vw);
    opacity: 0;
    transition: transform 1s cubic-bezier(0, 0, 0, 1), opacity 1s;
    will-change: transform, opacity;
}

.revealRight.revealed{
    transform: translateX(0vh);
    opacity: 1;
}
.revealLeft.revealed{
    transform: translateX(0vh);
    opacity: 1;
}


/* tdee - part 3 */
.tdee{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh;
    overflow: hidden;

    h1{
        font-family: 'Poppins', sans-serif;
        font-size: 4vw;
        color: $primary;
        text-align: center;
    }

    .tdeeContainer{ 
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 60vh;

        div:first-child{
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            h2{
                font-size: 2em;
                text-align: center;
            }

            p:first-of-type{
                font-size: 1.5em;
            }
            p{
                span{
                    font-weight: bold;
                }
            }
        }

        div:nth-child(2){
            padding-top: 5vh;
            width: 40%;
            height: 100%;

            app-tdee{
            width: 100%;
        }

            .result{
                font-size: 2em;
                text-align: center;
            }
        }
    }
}

.tdeeDetails{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        font-size: 2em;
        text-align: center;

        span{
            text-transform: uppercase;
        }
    }

    p{
        width: 70%;
        font-size: 1.5em;

        span{
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    div{
        width: 50%;
        display: flex;
        justify-content: space-between;

        .activeButton{
            background-color: $primary;
            color: #e8eeef;
        }

        button{
            transition: 0.2s;
            cursor: pointer;
            font-family: "Nunito", "sans-serif";
            font-size: 1em;
            text-transform: uppercase;
            font-weight: bold;
            height: 50px;
            width: 30%;
            color: $primary;
            border: none;
            background-color: #e8eeef;
            outline: none;
        }
        button:hover{
            background-color: darken(#e8eeef, 10%);
            color: $primary;
        }

        p{
            color: $primary;
            text-align: center;
        }
    }
}